  /* index.html */
  .nav-menu {
    text-align: right;
  }

  .nav-spacing {
    margin-left: 10px; 
  }

  .image-link {
      text-decoration: none;
  }

  .lincoln-quote {
    padding: 2px 20px; 
    background: #f4f4f4;
  }

  .twitter-logo-styling {
    text-decoration: none;
  }

  /* tags.html */
  .td-border {
    padding: 20px
  }

  /* moby_dick.html */

  .header-setting {
      text-align: center;
      margin: 0 0 80px;
  }

  .complete-overview {
    width: 500px; 
    margin: 20px auto; 
    padding: 30px; 
    background-color: #fafafa;
  }

  .whale-img-style {
    display: block; 
    margin: 0 auto;
  }

  .moby-dick-blockquote-style-1{
    font-style: italic; 
    font-size: 20px
  }

  .ishmael-style {
    font-style: normal; 
    font-size: 24px; 
    font-weight: bold; 
    color: #ff0000;
  }

  .moby-dick-style {
    float: left; 
    margin-right: 40px;
  }